<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ab6cca5-37f1-4e56-ba96-75f323227447" Alias="contactUs" Level="1">
  <Info>
    <Name>ContactUs</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>contactUs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7d0dd5d1-3de5-4b17-a034-78c8d5757baa">contactUs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>