<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9545f5a-036e-4ec1-9090-79ab61373acd" Alias="Sample" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sample</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T10:38:25</CreateDate>
    <NodeName Default="Sample" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0wkbedyh/download.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>