@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{

	Layout = null;

	ViewData["ContactUsModel"] = new CodingAddaSurfaceController.Models.ContactUs();
}
<p>hi</p>

@await Html.PartialAsync(@"~/views/partials/contactus/contactus.cshtml", ViewData["ContactUsModel"])