<?xml version="1.0" encoding="utf-8"?>
<Content Key="96401900-d399-494f-a411-a095ae0dcda5" Alias="ContactUs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2024-11-01T14:43:25</CreateDate>
    <NodeName Default="ContactUs" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7d0dd5d1-3de5-4b17-a034-78c8d5757baa">contactUs</Template>
  </Info>
  <Properties />
</Content>